In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

import traceback
import sys
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('medical_insurance.csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [7]:
df.sex.unique()

array(['female', 'male'], dtype=object)

In [9]:
df.sex.value_counts().to_dict()

{'male': 676, 'female': 662}

In [10]:
df.smoker.value_counts().to_dict()

{'no': 1064, 'yes': 274}

In [11]:
df.region.unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [13]:
df.sex.replace({"male":1,"female":0},inplace=True)
df.smoker.replace({"no":0,"yes":1},inplace=True)

In [14]:
df = pd.get_dummies(df,columns=["region"])
df

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,1,16884.92400,0,0,0,1
1,18,1,33.770,1,0,1725.55230,0,0,1,0
2,28,1,33.000,3,0,4449.46200,0,0,1,0
3,33,1,22.705,0,0,21984.47061,0,1,0,0
4,32,1,28.880,0,0,3866.85520,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
1333,50,1,30.970,3,0,10600.54830,0,1,0,0
1334,18,0,31.920,0,0,2205.98080,1,0,0,0
1335,18,0,36.850,0,0,1629.83350,0,0,1,0
1336,21,0,25.800,0,0,2007.94500,0,0,0,1
1337,61,0,29.070,0,1,29141.36030,0,1,0,0

# Hold out validation

In [15]:
x = df.drop('charges',axis=1)
y = df.charges

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=34)

In [17]:
x_train

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
414,19,0,35.150,0,0,0,1,0,0
1279,25,0,26.790,2,0,0,1,0,0
647,40,0,23.370,3,0,1,0,0,0
764,45,0,25.175,2,0,1,0,0,0
1133,52,0,18.335,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...
453,20,1,29.735,0,0,0,1,0,0
324,29,1,27.200,0,0,0,0,0,1
1109,45,1,20.350,3,0,0,0,1,0
490,19,0,32.900,0,0,0,0,0,1
1146,60,1,32.800,0,1,0,0,0,1

# Model creation

In [19]:
model = LinearRegression()

In [20]:
model.fit(x_train,y_train)

LinearRegression()

In [21]:
y_pred = model.predict(x_test)
y_pred

array([ 6.28742129e+03,  8.73545987e+03,  6.74917086e+03,  4.04040565e+03,
        7.41547104e+03,  8.68135666e+03,  5.63819787e+03,  9.52584095e+03,
        3.60274864e+04,  8.74202976e+03,  5.48794145e+03,  2.11594702e+03,
        9.64485286e+03,  7.37749415e+03,  3.87671160e+04,  1.31771917e+04,
        3.75134701e+04,  3.51944718e+03,  2.82012755e+03,  2.86152516e+04,
        3.00886611e+04,  1.43661944e+04,  1.09760259e+04,  2.55863651e+03,
        3.21856559e+04,  9.66485541e+03,  3.22826582e+03,  7.11505066e+03,
        5.55007242e+03,  9.37585237e+03,  2.83249950e+03,  3.64074859e+03,
        3.56046029e+04,  2.13830883e+03,  3.68994699e+04,  3.24564780e+04,
        6.19461909e+03,  3.44257047e+04,  3.25618588e+04,  1.18730500e+04,
        3.03715391e+04,  1.25023067e+04,  1.25293851e+03,  1.08528783e+04,
        4.00504591e+04,  6.87547027e+03,  8.58827184e+03,  4.39077775e+03,
        8.07318952e+03,  2.77303501e+03,  1.13518956e+04,  1.45384360e+04,
        1.44601192e+04,  7.03974227e+03,  5.02160544e+03,  8.22109015e+03,
        3.02874203e+04,  1.17726283e+04,  3.53388132e+04,  2.95891363e+04,
        3.03934215e+03,  9.14376091e+03,  1.48932327e+04,  5.03443329e+03,
        1.27559293e+04,  5.60651798e+03,  6.81980250e+03,  2.79104782e+04,
        1.55617247e+04,  1.28612395e+04,  3.18154999e+04,  3.93080767e+04,
        1.63111756e+04,  1.37329199e+04,  3.50410592e+03,  1.11620740e+04,
        2.60459379e+03,  2.92310420e+04,  7.05390062e+03,  4.93736881e+03,
        1.43644125e+04,  1.24656956e+04,  2.87679152e+04,  1.14594997e+04,
        3.49824800e+04,  1.00375787e+04,  3.16300192e+03,  3.53235260e+04,
        3.11813526e+04,  1.14222185e+04,  8.96426350e+03,  1.08965481e+04,
       -1.48630800e+03,  3.32221755e+03,  1.09178867e+03,  2.43725778e+03,
        2.94566697e+04,  3.35318184e+04,  2.52338946e+04,  3.75071944e+04,
        1.06755459e+04,  1.58247215e+04,  5.73255125e+03,  1.55372828e+04,
        8.87296622e+03,  4.74777093e+03,  4.65338566e+03,  1.65381518e+04,
        6.25746755e+03,  5.85881220e+03,  3.57443962e+03,  1.20381300e+04,
        9.26164302e+03,  8.49838217e+03,  2.90718821e+04,  3.89338624e+04,
        3.69108633e+04,  1.66483208e+03,  3.21128331e+04,  8.71871909e+03,
        1.21728025e+04,  6.51169037e+03,  1.16489712e+04,  3.34021333e+04,
       -9.58171747e+01,  3.43119829e+04,  5.18453163e+03,  1.12062667e+04,
        1.41555072e+04,  2.85869919e+04,  5.13720336e+03,  2.73815393e+04,
        4.32970463e+03,  8.49877344e+03,  9.12832487e+03,  8.12857313e+03,
        1.41351601e+03,  3.80410123e+04,  7.26960640e+03,  1.79438330e+03,
        1.47589336e+04,  1.30822063e+04,  4.82159022e+03,  1.60640953e+04,
        3.85057913e+04,  3.14537308e+03,  8.51020901e+03,  1.20178970e+04,
        1.06876565e+04,  1.51897660e+04,  8.93449890e+03,  5.90516952e+03,
        5.28884319e+03,  1.03753045e+04,  1.10064872e+04,  1.30973614e+04,
        2.63426872e+04,  7.54143275e+03,  7.61260822e+03,  8.29457583e+02,
        4.30477102e+03,  1.49672646e+04,  3.61652107e+03,  8.21788653e+03,
        3.43628955e+04,  3.28072934e+03,  8.46058095e+03,  1.16140094e+04,
        1.02931807e+04,  1.53241692e+04,  2.37761848e+03,  1.17663867e+04,
        3.32975045e+04,  1.05588740e+04,  5.43097669e+03,  8.30835268e+03,
        2.08656456e+03,  1.25476867e+04,  5.03452841e+03,  4.28123945e+03,
        1.69570582e+04,  1.51814267e+04,  1.26577414e+04,  9.20490726e+03,
        1.06144549e+04,  3.38410151e+04,  1.02864333e+04,  4.02133204e+04,
        3.19010249e+03,  1.01749285e+04,  8.40538892e+03,  7.36320075e+03,
        6.24799786e+03,  1.40080291e+03,  1.02694939e+04,  1.04799953e+04,
        1.09007467e+04,  1.26814754e+04,  7.92404568e+02,  6.19036168e+03,
        3.06262118e+03,  2.53608381e+04,  5.29833976e+03,  1.40128822e+04,
        1.14499364e+04,  1.79067117e+04,  1.01310748e+04,  6.22054334e+03,
        3.78832013e+04,  1.64254671e+04,  2.85534161e+03,  1.78397259e+04,
        4.05632331e+04,  1.10803067e+04,  4.04662032e+03,  3.38061076e+03,
        4.26272908e+03,  9.91470721e+03,  1.32167353e+04,  1.69226438e+04,
        1.60434914e+04,  9.53900197e+03,  5.22800435e+03,  1.16424014e+04,
        1.70208114e+04,  1.01402621e+04,  9.07692395e+03,  6.33890358e+03,
        3.92178349e+04,  9.63677237e+03,  3.98079485e+03,  3.18501132e+03,
        1.27512769e+04,  8.07715994e+03,  2.84905556e+04,  8.74356174e+03,
        1.05329052e+04,  3.38603740e+04,  6.98407169e+03,  1.66413507e+04,
        1.24782084e+04,  7.94544272e+03,  8.39740587e+03,  7.65811527e+03,
        3.33776131e+04, -2.45924068e+02,  2.29121833e+03,  3.51213433e+04,
        2.58154408e+03,  8.11792627e+03,  1.17137216e+03, -1.61170114e+01,
        3.41701716e+04,  1.06931774e+04,  9.41391365e+02,  3.69492317e+04,
        3.03487534e+04,  2.67106063e+04,  6.10141172e+03,  1.16479482e+04,
        1.49232530e+04,  1.70399818e+04,  1.56828701e+04,  1.48496305e+04,
        8.11940395e+03,  1.11375792e+04,  3.53854876e+04,  2.93500877e+04])

In [22]:
mse = mean_squared_error(y_test,y_pred)

In [23]:
mse

41587655.82548301

In [24]:
r2_value = r2_score(y_test,y_pred)
r2_value

0.7442111491697808

In [25]:
model = LinearRegression()
model.fit(x,y)

LinearRegression()

In [26]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges',
       'region_northeast', 'region_northwest', 'region_southeast',
       'region_southwest'],
      dtype='object')

In [28]:
age = 19
sex = 'male'
bmi = 27.9
children = 2
smoker = 'yes'
region = 'northeast'

# charges = ?

In [31]:
project_data = {'sex':{'female':0,'male':1},
                'smoker':{'no':0,'yes':1}}

region = "region_"+region

index = np.where(x.columns==region)

In [32]:
test_array = np.zeros(len(x.columns))
test_array

array([0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [33]:
test_array[0] = age
test_array[1] = project_data['sex'][sex]
test_array[2] = bmi
test_array[3] = children
test_array[4] = project_data['smoker'][smoker]
test_array[index] = 1

In [34]:
test_array

array([19. ,  1. , 27.9,  2. ,  1. ,  1. ,  0. ,  0. ,  0. ])

In [36]:
y_prediction = model.predict([test_array])

In [40]:
f"predicted charges are : {round(y_prediction[0],2)}"

'predicted charges are : 27073.45'

In [41]:
import pickle
import json

In [42]:
with open('Linear_Model.pkl','wb') as f:
    pickle.dump(model,f)

In [44]:
pd.DataFrame(project_data).to_json('random.json')

In [45]:
with open('project_data.json','w') as f:
    json.dump(project_data,f)

In [48]:
list1 = [2,3,4]
with open('List1.pkl','wb') as f:
    pickle.dump(list1,f)

In [1]:

columns =['age', 'sex', 'bmi', 'children', 'smoker', 'charges',
'region_northeast', 'region_northwest', 'region_southeast',
'region_southwest']

In [3]:
region = 'southeast'
region = 'region_' +region
region

'region_southeast'

In [8]:
columns.index(region)

8

In [1]:
import os
os.getcwd()

'c:\\Users\\Pratik\\End_to_End_Project\\Satyajit\\Project2\\Project_app'

In [2]:
os.path.join('Project_app','Linear_Model.pkl')

'Project_app\\Linear_Model.pkl'